In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

data=pd.read_csv('day.csv')

In [2]:
data.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [4]:
data.drop(labels=['instant','dteday','casual','registered','temp','weekday','workingday','holiday'],axis=1,inplace=True)

In [5]:
data.corr()

,season,yr,mnth,weathersit,atemp,hum,windspeed,cnt
season,1.000000,-0.001844,0.831440,0.019211,0.342876,0.205445,-0.229046,0.406100
yr,-0.001844,1.000000,-0.001792,-0.048727,0.046106,-0.110651,-0.011817,0.566710
mnth,0.831440,-0.001792,1.000000,0.043528,0.227459,0.222204,-0.207502,0.279977
weathersit,0.019211,-0.048727,0.043528,1.000000,-0.121583,0.591045,0.039511,-0.297391
atemp,0.342876,0.046106,0.227459,-0.121583,1.000000,0.139988,-0.183643,0.631066
hum,0.205445,-0.110651,0.222204,0.591045,0.139988,1.000000,-0.248489,-0.100659
windspeed,-0.229046,-0.011817,-0.207502,0.039511,-0.183643,-0.248489,1.000000,-0.234545
cnt,0.406100,0.566710,0.279977,-0.297391,0.631066,-0.100659,-0.234545,1.000000

In [6]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
data=ss.fit_transform(data)

In [7]:
X=data[:,:-1]
y=data[:,-1]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
print(lr.intercept_)
print(lr.coef_)

0.001412637078561988
[ 0.30433046  0.5206607  -0.07221094 -0.16393759  0.49779473 -0.07727517
 -0.08067858]

In [10]:
y_pred=lr.predict(X_test)
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.8212775444259025

In [11]:
from sklearn.preprocessing import PolynomialFeatures
pf=PolynomialFeatures()
X_poly=pf.fit_transform(X)

In [12]:
from sklearn.model_selection import train_test_split
X_train_p,X_test_p,y_train_p,y_test_p=train_test_split(X_poly,y,test_size=0.2,random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression
lr2=LinearRegression()
lr2.fit(X_train_p,y_train_p)
print(lr2.intercept_)
print(lr2.coef_)

-6981319158.156457
[ 3.49739307e+06  1.48864428e-01  1.90911860e+07  1.18018323e-01
 -9.49798191e-02  3.51579709e-01 -1.39375531e-01 -7.82543361e-02
 -5.79257294e-02  6.50200468e-02 -2.30886712e-02 -6.70964596e-02
 -1.41349669e-01  7.03877193e-02 -1.17435939e-02  6.97782177e+09
 -4.70669952e-02 -3.23810293e-02  7.11836272e-02 -1.28120795e-02
 -1.05811358e-02 -1.30796109e-01  6.78681947e-02  2.07639778e-01
 -1.02168376e-01  3.72807395e-03 -3.18828312e-02 -2.27722303e-02
  3.45898552e-03 -1.19662725e-02 -2.42953309e-01  2.52895062e-02
 -1.86061972e-02 -7.15872129e-02 -5.60947894e-02 -2.68315093e-02]

In [14]:
y_pred_p=lr2.predict(X_test_p)

In [15]:
from sklearn.metrics import r2_score 
print(r2_score(y_test,y_pred_p))

0.8910315994096479

In [16]:
from sklearn.preprocessing import PolynomialFeatures
pf=PolynomialFeatures(3)
X_poly_3=pf.fit_transform(X)

In [17]:
from sklearn.model_selection import train_test_split
X_train_p3,X_test_p3,y_train_p3,y_test_p3=train_test_split(X_poly_3,y,test_size=0.2,random_state=42)

In [18]:
from sklearn.linear_model import LinearRegression
lr3=LinearRegression()
lr3.fit(X_train_p3,y_train_p3)
print(lr3.intercept_)
print(lr3.coef_)

-1308042130540.4912
[-5.97822686e-14  2.96290234e+11 -6.36384304e+11 -5.62313232e+11
  2.09151101e+10  4.43847015e+11 -1.41695900e+10 -2.76287814e+11
  1.18821655e-01 -8.10644354e+08 -3.65362167e-01  6.14929199e-03
  1.00097656e-01  5.75637817e-03  5.31921387e-02  1.30844772e+12
  1.53847814e+09 -5.77291685e+07 -1.21435685e+09  3.87677242e+07
  7.55918118e+08  8.43658447e-02 -1.30661011e-01 -2.52464294e-01
 -6.03485107e-03  8.27789307e-03  1.88633068e+09  2.18971252e-01
 -2.91557312e-02 -2.48718262e-02 -1.10218525e-01 -7.19909668e-02
 -7.17773438e-02 -3.69567871e-02 -6.49566650e-02 -1.80473328e-02
  3.67774963e-02 -7.32994080e-02 -2.97275543e-01  6.57272339e-02
  5.02681732e-01 -1.56288147e-01 -4.08782959e-02 -2.96290234e+11
 -2.01187134e-02  5.22155762e-02 -1.15432739e-01  1.54525757e-01
  2.63061523e-02  3.17947388e-01  1.84478760e-02 -2.11723328e-01
  5.93338013e-02 -5.50384521e-02  1.28952026e-01  2.55554199e-01
 -1.54930115e-01 -3.75976562e-02 -1.35253906e-01 -9.56764221e-02
 -8.72192383e-02  5.94787598e-02  6.65245056e-02 -4.34570312e-02
  6.39959401e+11  5.62313232e+11 -2.10999913e+10 -4.43847015e+11
  1.41695900e+10  2.76287814e+11  1.18310928e-01 -1.30920410e-02
  2.26440430e-01 -1.44508362e-01  5.61523438e-03 -3.73840332e-03
  3.02505493e-02 -6.64215088e-02  3.82995605e-02 -9.90753174e-02
 -2.66571045e-02 -6.16455078e-03 -8.75854492e-03 -5.41229248e-02
 -2.37579346e-02 -1.41098022e-01  1.89407349e-01 -4.54940796e-02
 -1.28936768e-02  1.46064758e-02 -9.24987793e-02 -3.47984314e-01
  1.52259827e-01  6.55975342e-02  5.29384613e-02  7.94315338e-02
  9.08355713e-02 -9.20104980e-02 -8.24584961e-02  2.10571289e-03
 -5.66248053e+08 -6.79779053e-02 -4.06494141e-02  5.78308105e-02
  4.03289795e-02  2.70080566e-03  1.37329102e-02 -3.09753418e-02
 -3.98254395e-02 -3.32489014e-02 -9.91821289e-02  3.64074707e-02
  1.01776123e-02  3.23028564e-02 -1.68609619e-02  2.95181274e-02
  1.13677979e-03 -2.32849121e-02  1.44653320e-02 -5.49316406e-04]

In [19]:
y_pred_p3=lr3.predict(X_test_p3)

In [20]:
r2_score(y_test_p3,y_pred_p3)

0.8753398362887912